<ion-view view-title="Life Call" hide-nav-bar="true">
    <ion-content  ng-class="{expanded:$scope.isExpanded}" style="background: url(img/bg-106.jpg) center; background-size: cover; align:center; vertical-align: middle;">
		<div class="padding center-text">
			<img src="img/elegant-man-saluting.png">
			<h2 class="pretty-thai-text light-text">ขอต้อนรับสู่ Lifecare</h2>
			<p class="pretty-thai-text light-text">คุณสามารถติดตามคนที่คุณรักได้ทุกที่ตลอดเวลา</p>
			<h3 class="pretty-thai-text light-text">เริ่มต้นโดยการกดปุ่มเพื่อเพิ่มรายชื่อคนไข้</h3>
			<button class="pretty-thai-text dark-text button button-energized ink" ui-sref="app.addPatient">เพิ่มคนไข้ที่ดูแล</button>
			<p class="pretty-thai-text light-text"><BR/>โปรดเตรียมรหัสคนไข้ หรือ Security code <BR/>ที่ได้หลังจากการลงทะเบียนสินค้าที่จุดขาย</p>

		</div>
    </ion-content>
</ion-view>
